.newsletter{
  background: #F2F2F2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  padding: 24px 0 16px 0;
  min-height: 156px;

  @media only screen and (max-width: 720px){
    padding: 20px;
  }

  button{
    cursor: pointer;
  }
  
  &__title{
    font-size: 1.5rem;
    text-align: center;
    display: block;
    margin-bottom: 16px;
    @media only screen and (max-width: 720px){
      font-size: 1.375rem;
      text-align: left;
    }
  }

  &__form{
    display: flex;
    gap: 10px;

    @media only screen and (max-width: 720px){
      flex-direction: column;
      align-items: center;
    }

    button{
      width: 140px;
      height: 48px;
      color: var(--light);
      background: var(--dark);
      border-radius: 5px;
      font-weight: 700;

      @media only screen and (max-width: 720px){
        width: 100%;
      }
    }
  }

  &__group{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 70px;

    input{
      height: 48px;
      width: 280px;
      border: none;
      border-radius: 5px;
      font-size: .75rem;
      font-weight: 700;
      padding-left: 16px;

      &:focus{
        outline: none;
        border: 1px solid var(--border-color);
      }

      &.invalid{
        border: 1px solid var(--error--color);
      }
    }
  }

  &__error{
    color: var(--error--color);
    font-size: .75rem;
    margin-top: 8px;
  }

  &__success{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-weight: 400;
    font-size: .75rem;

    strong{
      display: block;
      font-size: .875rem; 
      font-weight: 700;
    }

    button{
      width: 328px;
      height: 48px;
      border-radius: 5px;
      background: var(--dark);
      color: var(--light);
      margin-top: 15px;
    }
  }
}
