.header{
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 80px;
  background: var(--light);
  position: fixed;
  top: 0;
  z-index: 9999;
  
  &__content{
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: 1080px){
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 20px;
      justify-content: space-around;
      gap: 20px;
      height: auto;

      .logo{
        height: 40px; 
      }
    }
  }

  &__account{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    min-width: 180px;
  }
}
