.header{
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 80px;
  background: var(--light);
  position: fixed;
  top: 0;
  z-index: 9999;
  
  &__content{
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: 1080px){
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 20px;
      justify-content: space-around;
      gap: 20px;
      height: auto;

      .logo{
        height: 40px; 
      }
    }

    @media only screen and (max-width: 520px){
      display: grid;
      align-content: center;
      padding: 10px;
      grid-template-columns: 50px 1fr 50px;
      align-items: center;
      justify-content: center;
      row-gap: 0px;

      .logo{
        display: block;
        margin: 0 auto;
        height: auto;
        svg{
          height: 25px; 
        }
      }
    }
  }

  &__account{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    min-width: 180px;

    @media only screen and (max-width: 520px){
      .account{
        display: none;
      }
      .minicart{
        width: 100%;
      }
    }
  }
}
