.search{
  max-width: 712px;
  width: 100%;

  &__form{
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--dark);

    input{
      padding: 0;
      display: block;
      flex-grow: 1;
      height: 30px;
      border: none;
    }

    button{
      border: 0;
      background: transparent;
    }
  }
}
