.banner{
  display: block;

  &__item{
    height: 430px;
    
    img{
      object-fit: cover;
      height: 100%;
      width: 100%;
    }

    @media only screen and (max-width: 520px){
      height: 190px;
    }
  }

  &__content{
    max-width: 522px;
    position: absolute;
    top: 25%;
    left: 10%;
    color: var(--light);
    font-size: 1.875rem;
    font-weight: 700;
    text-align: left;

    strong{
      display: block;
      font-size: 2.825rem;
    }

    @media only screen and (max-width: 520px){
      max-width: 100%;
      font-size: 1.2rem;
      strong{
        font-size: 1.8rem;
      }
    }
  }

  .splide__pagination__page{
    cursor: pointer;
    &.is-active{
      background: var(--red);
    }
  }

}
